<div class="container">
    <div class="py-16">
        <h1>New Blog</h1>
    </div>
    <%= simple_form_for @blog do |f| %>
        <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.input :cover_image, as: :file %>
        </div>

        <div class="form-actions">
            <%= f.button :submit %>
        </div>
    <% end %>
</div>
